<!--Auhtor: Amritpal Singh-->

<nav class="navbar nav-pills nav-fill">
    <a class="nav-item nav-link navCreateOrder" id="navCreateOrder" href="/">Create Order</a>
    <a class="nav-item nav-link navViewOrders" id="navViewOrders" href="/orders">View Orders</a>
    <a class="nav-item nav-link navLogout" id="navLogout" href="/logout">Logout</a>
</nav>